.panel__nav {
    cursor: pointer;
    opacity: .2;
    position: absolute;
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
    user-select: none;
    will-change: opacity;
  }
  .panel__nav--up {
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
  }
  .panel__nav--left {
    left: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg) translateX(-100%);
    transform-origin: top left;
  }
  .panel__nav--left-top {
    left: 1rem;
    top: 1rem;
  }
  .panel__nav--left-down {
    bottom: 1rem;
    left: 1rem;
  }
  .panel__nav--right {
    right: 1rem;
    top: 50%;
    transform: translateY(-50%) rotate(90deg) translateX(100%);
    transform-origin: top right;
  }
  .panel__nav--right-top {
    right: 1rem;
    top: 1rem;
  }
  .panel__nav--right-down {
    bottom: 1rem;
    right: 1rem;
  }
  .panel__nav--down {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
  .panel__nav:hover {
    opacity: 1;
  }