.search-bar {
    margin: 20px;
    text-align: center;
  }
  
  .search-bar input {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 75%;
  }
  
  .video-item img {
    max-width: 64px;
  }
  
  .video-detail .details {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .list-group-item {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
  
  .list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

  /* .video-search {
    margin-bottom: 15%;
  } */